@model IEnumerable<WebMVC_NetFramework.Models.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form asp-controller="SanPhamController" asp-action="Index">
    <p>
        Tìm kiếm: <input type="text" name="SearchString" />
        <input type="submit" value="Tìm" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>

            <td>
                @(item.DanhMucSanPham==null?"":item.DanhMucSanPham.TenDanhMuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDSanPham }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDSanPham }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDSanPham })
            </td>
        </tr>
    }

</table>
